  
    <nav class="navbar navbar-dark bg-danger">
    <a class="navbar-brand" href="/">
    Primer Crud Angular
    </a>
    </nav>
    <div class="container">
    <div class="row">
    <div class="col-md-8 mt-4">
    <ul class="list-group">
    
    <li *ngFor="let alumno of alumnoArray" class="list-group-item list-group-item-
    action"
    
    (click)="openForEdit(alumno)"
    [class.active]="alumno == selectedAlumno">
    <span class="badge badge-primary">{{alumno.id}}</span>
    - {{alumno.name}}
    - {{alumno.lastname}}
    - {{alumno.age}}
    - {{alumno.address}}
    - {{alumno.phone}}
    - {{alumno.email}}
    </li>
    </ul>
    <div class="card">
    <div class="card-body">
    <div class="card-title">
        <h3>{{selectedAlumno.id == 0 ? "Agregar Nuevo Alumno" : "Actualizar Alumno"}}</h3>
    </div>
    <div class="form-group">
    <input type="text" [(ngModel)]="selectedAlumno.name" placeholder="name" #name="ngModel"
    class="form-control" pattern="[A-Za-zñáéíóúÁÉÍÓÚ ]+" required>
    <div [hidden]="name.valid || name.pristine"  class="alert alert-danger">
        Nombres validos es requerido
    </div>
    </div>
    <div class="form-group">
    <input type="text" [(ngModel)]="selectedAlumno.lastname" placeholder="lastname"  #lastname="ngModel" pattern="[A-Za-zñáéíóúÁÉÍÓÚ ]+"
    class="form-control" required>
    <div [hidden]="lastname.valid || lastname.pristine"  class="alert alert-danger">
        Apellidos validos es requerido
    </div>
    </div>
    <div class="form-group">
    <input type="number" [(ngModel)]="selectedAlumno.age" placeholder="age" #age="ngModel" required
    class="form-control">
    <div [hidden]="age.valid || age.pristine"  class="alert alert-danger">
        edad valida es requerida
    </div>
    <div class="alert alert-danger" [hidden]="selectedAlumno.age>=0">
        Numero Negativo
    </div>
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="selectedAlumno.address" placeholder="direccion" pattern="[A-Za-zñáéíóúÁÉÍÓÚ ]+" required #adress="ngModel"
        class="form-control">
        <div [hidden]="adress.valid || adress.pristine"  class="alert alert-danger">
            Direccion valida requerida
        </div>
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="selectedAlumno.phone" placeholder="telefono" required pattern="[0-9]{8}" #phone="ngModel"
        class="form-control">
        <div [hidden]="phone.valid || phone.pristine"  class="alert alert-danger">
            Telefono valido requerido formato 00000000
        </div>
    </div>
    <div class="form-group">
        <input type="email" [(ngModel)]="selectedAlumno.email" placeholder="correo" required #email="ngModel" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
        class="form-control">
        <div [hidden]="email.valid || email.pristine"  class="alert alert-danger">
            Correo valido requerido
        </div>
    </div>
    <button (click)="addOrEdit()" class="btn btn-primary btn-space" [disabled]="!name.valid || name.pristine || !lastname.valid || lastname.pristine || !age.valid || age.pristine || selectedAlumno.age<0 || !adress.valid || adress.pristine || !phone.valid || phone.pristine || !email.valid || email.pristine">
    Guardar
    </button>
    <button *ngIf="selectedAlumno.id !== 0" class="btn btn-danger" (click)="delete()">
    Eliminar
    </button>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciI
    HZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuO
    SA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBma
    WxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzM
    HoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxM
    S43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwL
    jl6IiAvPgogIDwvc3ZnPg==">
    </div>
    </div>
    </div>